.env
.env*
!pixi.toml
!pixi.lock
.pixi/
.venv/
venv/
env/
.cache/
.git/
.gitignore
.dockerignore
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
data/
mlruns/
mlflow.db
notebooks/
.cache/pre-commit/